* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}
li{
	list-style: none;
}

/*Footer press*/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}
.main-content {
	display: flex;
	flex: auto;
}
/*Footer press*/

.container {
	max-width: 1140px;
	margin: 0 auto;
}
.main-menu {
	background-color: #353535;
}
.main-menu-list {
	display: flex;
	justify-content: space-between;
	padding: 18px 0px;
}
.main-menu-list a {
	text-decoration: none;
	color: #b6b6b6;
	font-size: 14px;
}
.contacts {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px;
}
.contacts a:nth-of-type(2) {
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted;
	text-decoration: none;
	display: inline-block;
	height: 1.2em;
	line-height: 1.0em;
}
.contacts a:nth-of-type(3) {
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted;
	text-decoration: none;
	display: inline-block;
	height: 1.2em;
	line-height: 1.0em;
}
.secondary-menu {
	background-color: #e0e0e0;
	margin-bottom: 35px;
}
.secondary-menu-list {
	display: flex;
	justify-content: space-between;
	padding: 25px 0px;
}
.secondary-menu-list a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.main-content {
	display: flex;
	justify-content: space-between;
}
.content-left {
	width: 760px;
}
.button-green-1, .button-green-2 {
	text-decoration:none;
	text-align:center;
	padding:8px 20px;
	border:none;
	border-radius: 30px;
	font:16px 'Open Sans', sans-serif;
	font-weight:bold;
	color:#000000;
	background:#c2fd12;
}
.button-blue {
	text-decoration:none;
	text-align:center;
	padding:5px 20px;
	border:solid 1px #00afef;
	border-radius: 30px;
	font:18px 'Open Sans', sans-serif;
	font-weight:bold;
	color:#00afef;
	background:#ffffff;
}
.left-top-item-1 {
	height: 445px;
	width: 755px;
	background-image: url(img/box1-1.jpg);
	background-position: 15% 30%;
}
h1.main-title {
	padding-top: 120px;
	padding-left: 60px;
	padding-bottom: 35px;
	font-size: 40px;
	line-height: 40px;
}
.button-green-1 {
	margin-left: 60px;
}
.content-left-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.left-bottom-item-1 {
	height: 215px;
	width: 180px;
	background-color: #00aeef;
}
.offer-1 a {
	display: block;
	padding: 68px 0;
	text-decoration: none;
}
.offer-1 {
	text-align: center;
}
.offer-title-1 {
	margin-top: 10px;
	color: #fff;
}
.left-bottom-item-2 {
	height: 215px;
	width: 180px;
	background-color: #00aeef;
}
.offer-2 a {
	display: block;
	padding: 63px 0;
	text-decoration: none;
}
.offer-2 {
	text-align: center;
}
.offer-title-2 {
	margin-top: 10px;
	color: #fff;
}
.left-bottom-item-3 {
	height: 215px;
	width: 370px;
	background-image: url(img/credit.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.offer-title-3 {
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 30px;
}
a.button-blue {
	margin-left: 20px;
}
.content-right {
	width: 380px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;

}
.right-offer-1 {
	height: 160px;
	width: 370px;
	background-color: #ededed;
	background-image: url(img/ruble-tel.png);
	background-repeat: no-repeat;
	background-position: 85% 100%;
}
.right-offer-title-1 {
	margin-left: 20px;
	margin-top: 50px;
}
.right-offer-2 {
	height: 500px;
	width: 370px;
	margin-top: 10px;
	background-image: url(img/cards-aside.jpg);
	background-repeat: no-repeat;
	background-position: 30% 100%;
}
.right-offer-title-2 {
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 25px;
}
a.button-green-2 {
	margin-left: 20px;
}
.footer {
	background-color: #f5f5f5;
	margin-top: 40px;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}
.footer p {
	color: #a0a0a0;
	font-size: 12px;
	padding-top: 10px;
}
.copyright, .feedback, .info {
	width: 30%;
}
.feedback a {
	color: black;
	border-bottom: 1px dotted;
	text-decoration: none;
	display: inline-block;
	height: 1.2em;
	line-height: 1.0em;
}

/*CREDIT-TARGET PAGE*/

.content-credit-target {
	border: 1px solid lightgrey;
	border-radius: 10px;

}

.content-credit-target h1 {
	text-align: center;
	padding: 20px;	
}
.content-credit-target p {
	padding: 20px;
	text-align: justify;
	justify-content: center;
	line-height: 28px;
}
.harold {
	overflow: hidden;
	display: block;
	margin: 15px auto 25px;
	width: 710px;
}
.harold img {
	width: 710px;
}

/*HYPOTHEC PAGE*/

.content-hypothec {
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
}
.content-hypothec h1 {
	text-align: center;
}
.content-hypothec p {
	padding: 20px 0;
	text-align: justify;
	justify-content: center;
	line-height: 28px;
}

/*TAKE-CREDIT PAGE*/

.content-take-credit {
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
}
.content-take-credit h1 {
	text-align: center;
}
.content-take-credit p {
	padding: 20px 0;
	text-align: justify;
	justify-content: center;
	line-height: 28px;
}

/*CHOOSE-CARD PAGE*/

.content-choose-card {
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
}
.content-choose-card h1 {
	text-align: center;
}
.content-choose-card p {
	padding: 20px 0;
	text-align: justify;
	justify-content: center;
	line-height: 28px;
}